<!DOCTYPE html>
<html lang="pt" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>To-Do List</title>
  <!-- fonte -->
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap" rel="stylesheet">
  <!-- css -->
  <link rel="stylesheet" href="css/styles.css">
</head>

<body>