<%- include('partials/header') -%>

<h1>Compose</h1>

<form action="/compose" method="post">
  <div class="form-group">

    <label for="exampleFormControlInput1">Título</label>
    <input type="text" class="form-control" name="tituloPublicar" placeholder="Título">
  </div>


  <div class="form-group">
    <label for="exampleFormControlTextarea1">Corpo do Texto</label>
    <textarea class="form-control" name="textoPublicar" rows="3"></textarea>
  </div>
  <button class="btn btn-large btn-outline-dark" type="submit">Publicar</button>
</form>

<%- include('partials/footer'); -%>