<%- include('partials/header') -%>

<h1>Compose</h1>

<form action="/compose" method="post" name="formInputPost" onsubmit="return validateForm()">
  <div class="form-group">

    <label for="exampleFormControlInput1">Título</label>
    <input type="text" class="form-control" name="tituloPublicar" placeholder="Título">
  </div>


  <div class="form-group">
    <label for="exampleFormControlTextarea1">Corpo do Texto</label>
    <textarea class="form-control" name="textoPublicar" rows="3"></textarea>
  </div>
  <button class="btn btn-large btn-outline-dark" type="submit">Publicar</button>
</form>
<script>
  function validateForm() {
    // var textError = ""
    var errou = false;
    var corpoTexto = document.forms["formInputPost"]["textoPublicar"].value;
    var tituloTexto = document.forms["formInputPost"]["tituloPublicar"].value;
    if (corpoTexto == "" || tituloTexto == "") {
      errou = true
      alert("Preencha todos os campos")
    }
    if (tituloTexto.length > 100) {
      errou = true
      alert("Titulo muito grande")
    }
    if (errou === true) {
      // alert(textError)
      return false
    }
  }
</script>
<%- include('partials/footer'); -%>